<div class="supplementary-container">
	<div class="topper"></div>
	<div class="about-hero">
		<%= link_to image_tag("trepic-logo-white-shadow.png", :class => "trepic-logo-supplementary"), root_path %>
	</div>
	<div class="about-body">
		<h1 class="supplemental-title">About</h1>

		<p>Trepic is a patent pending visually-oriented destination discovery app, designed to help you find your next perfect travel destination.</p>

		<p>Imagine, a tool that magically matches a combination of your travel preferences with a database of epic travel destinations. Simply sign up, let us know what you like and what you’re looking for, and instantly, you’re on your way to discovering new travel experiences. </p>

		<p>Our expert team has compiled its extensive research, curating the world’s best in unique, current, conversation-worthy experiences in the areas of boutique resorts, eco-tourism, adventure expeditions, spas, and more.</p>

		<p>What’s more – we’re visual learners. We believe that travel discovery is better when experienced visually. Our photo editing team is committed to sharing accurate, jaw-dropping, wish-I-were-there images that inspire travel. Evolve your travel search process with us!</p>

		<p>Here’s how it works: We rank your discoveries based on a combination of what you want to do and what the destinations are best known for. Then, at these destinations you can also book your trip, including top-rated lodging and unique activities, highlighted just for you.</p>

		<p>Trepic also allows you to search the database directly. Results are presented visually using photos matched by keywords and tags. Select the image you like and discover the destination for that experience.</p>

		<h2>OUR MISSION</h2>

		<p>Our mission is to inspire a love for discovery, learning, education, and service for oneself and for everyone around us. We believe that the more knowledge that is shared, the more freedom we have in making informed decisions. Trepic contributes a portion of every booking towards improving children’s education in underprivileged countries.</p>

		<p>Go ahead, Make your trip epic...</p>

		<h2>OUR TEAM</h2>

		<p>We are based in Palo Alto, California and we love trees, good people, high adventure, tasty food, and healthy living.</p>
	</div>
	<div class="supplementary-mobile-footer">
		<div class="spacer"></div>
		<div class="mobile-footer-menu">
			<span class="major-footer-links-small"><%= link_to "Home", root_path %></span>
			<span class="major-footer-links-small highlight"><%= link_to "About", about_path %></span>
			<span class="major-footer-links-small"><%= link_to "Support", customer_support_path %></span>
			<span class="major-footer-links-small"><%= link_to "Work With Us", work_with_us_path %></span>
		</div>

		<div class="social-media-icons">
			<a href="https://www.pinterest.com/trepicepictrips/"><img class="social-icon" src="img/social/pinterest-icon.png"></a>
			<a href="https://www.facebook.com/trepic.makeyourtripepic/"><img class="social-icon" src="img/social/facebook-icon.png"></a>
			<a href="https://twitter.com/trepicgoepic"><img class="social-icon" src="img/social/instagram-icon.png"></a>
			<a href="https://twitter.com/trepicepictrips"><img class="social-icon" src="img/social/twitter-icon.png"></a>
		</div>
		<div class="end-text-no-image">
			<span class="copyright-text">© 2014 : 2015 COPYRIGHT TREPIC, INC.</span>
			<span class="legal-page-link" style="color:#4c4c4c"><%= link_to "LEGAL PAGE", legal_path %></span>
		</div>
	</div>
</div>


