<div class="supplementary-container">
	<div class="topper"></div>
	<div class="legal-hero">
		<%= link_to image_tag("trepic-logo-white-shadow.png", :class => "trepic-logo-supplementary"), root_path %>
	</div>
	<div class="legal-body">
		<h1 class="supplemental-title">Legal</h1>
		<p>We are human. We promise to do the best we can, but we're not perfect. We try to find and curate the most unique, beautiful, and newest experiences for you.</p>

		<p>We define “epic” as developing a new appreciation for oneself and the world around them, whether that be through living in the finest man-made designs to the bonding of human cultures to soaking the natural soil under our feet.</p>

		<p>We hope you also think our trips are epic, but of course, we all know, calling something epic is an opinion, and everyone and their mother has one. So, be kind and take everything with a grain of salt. Take your own responsibility for your trip, and don't blame us for something that we have no control over. It is, travel, after all!</p>

		<p>We promise to give you our best, so please give us yours. What does that mean? By using our site, you won't blame us for random 'acts of God' or for any injuries you get when you decided to jump off that deadly cliff. Use your best judgment.</p>

		<p>You're looking for something to invigorate your brains or to revitalize your body and soul, and you've come to the right place. Just remember, no reward comes without risk. Dare to make your journey epic, and be smart.</p>

		<p>And we also ask that you respect our copyrighted photos that we've painstakingly curated for you.</p>

		<p>Thank you!</p>

		<span class="legal-link"><h3><%= link_to "Privacy Policy", privacy_policy_path %></h3></span>
		<span class="legal-link"><h3><%= link_to "Terms of Use", terms_of_use_path %></h3></span>
	</div>
	<div class="supplementary-mobile-footer">
		<div class="spacer"></div>
		<div class="mobile-footer-menu">
			<span class="major-footer-links-small"><%= link_to "Home", root_path %></span>
			<span class="major-footer-links-small"><%= link_to "About", about_path %></span>
			<span class="major-footer-links-small"><%= link_to "Support", customer_support_path %></span>
			<span class="major-footer-links-small"><%= link_to "Work With Us", work_with_us_path %></span>
		</div>

		<div class="social-media-icons">
			<a href="https://www.pinterest.com/trepicepictrips/"><img class="social-icon" src="img/social/pinterest-icon.png"></a>
			<a href="https://www.facebook.com/trepic.makeyourtripepic/"><img class="social-icon" src="img/social/facebook-icon.png"></a>
			<a href="https://twitter.com/trepicgoepic"><img class="social-icon" src="img/social/instagram-icon.png"></a>
			<a href="https://twitter.com/trepicepictrips"><img class="social-icon" src="img/social/twitter-icon.png"></a>
		</div>
		<div class="end-text-no-image">
			<span class="copyright-text">© 2014 : 2015 COPYRIGHT TREPIC, INC.</span>
			<span class="legal-page-link" style="color:#4c4c4c"><%= link_to "LEGAL PAGE", legal_path %></span>
		</div>
	</div>
</div>