<head>
</head>

<div class="legal-container">
	<%= link_to image_tag("trepic-logo-white-shadow.png", :class => "trepic-logo-supplementary"), root_path %>
	<div class="terms-of-use">
		<h1>Trepic Terms of Use</h1>

		<p>These Terms of Use (these “Terms”) are a binding agreement between you and Trepic, Inc. (“Trepic”). Please review these Terms carefully before using the Trepic website (the “Site”) and all related applications, software, and services (together, and collectively with the Site, the “Service”). By using the Service in any way, including, but not limited to visiting or browsing the Site, you agree to be bound by these Terms without modification. If you do not agree to these Terms, you may not use the Service or visit the Site.</p>

		<h3>1. CONTENT</h3>

		<p>1.1 <span class="terms-subtitle">Content</span>. For purposes of these Terms, “Content” includes, without limitation, any tools, services, advertisements, advice, suggestions, videos, audio clips, written comments, information, data, text, photographs, software, scripts, graphics, interactive features, and any other media generated, provided, or otherwise made accessible by Trepic, its content providers or other partners, or other Users through the Service. Content includes all User Content, as defined in Section 2.2 below.</p>

		<p>1.2 <span class="terms-subtitle">Ownership of Materials</span>. Trepic provides all Content unless indicated otherwise. With the exception of User Content, all Content is the property of Trepic and is protected by federal and international intellectual property laws and treaty provisions. You must abide by all intellectual property notices, information, and restrictions contained in any such Content. You may not sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit, create derivative works from, display in frames, link to, or otherwise commercially exploit any Content or User Content (i) without the express written consent of the respective owners, and (ii) in any way that violates the rights of any third party.</p>

		<p>1.3 <span class="terms-subtitle">Trademarks</span>. Unless indicated otherwise, all trademarks used in connection with the Service are trademarks of Trepic.</p>

		<p>1.4 <span class="terms-subtitle">Use License</span>. Unauthorized use of Content or information made available through the Service may violate patent, copyright, trademark, and other laws. Your use of the Service and Content is pursuant to a limited-use license (“License”), not a transfer of title, and is subject to the following restrictions:</p>

		<ul class="terms-list">
			<li><p>(a) You may not modify Content or use it for commercial purposes or for public display, performance, sale or rental;</p></li>

			<li><p>You may not decompile, reverse engineer, disassemble or make derivative works of Content;</p></li>

			<li><p>You may not remove confidentiality, privacy, patent, copyright, trademark or other proprietary notices from Content;</p></li>

			<li><p>You may not transfer Content to another person or entity in manners inconsistent with these Terms and other Trepic policies.</p></li>

			<li><p>You may not facilitate or permit unauthorized copying of Content or information made available by the Service.</p></li>
		</ul>

		<p>1.5 <span class="terms-subtitle">Termination of this Use License</span>. Trepic may terminate your License at any time if you breach these Terms. You agree that upon termination of your License you will immediately (1) stop using the Service, and (2) destroy all Content in your possession, if any, other than any User Content submitted by you.
		Registration. To make full use of the Service, you must register with Trepic and create a personal account. You may not allow third parties to access the Service using your account, and you are personally responsible for any use of the Service through your account, whether by you or a third party.</p>

		<h3>2. USER CONTENT AND USER INFORMATION</h3>

		<p>2.1 <span class="terms-subtitle">Privacy Policy</span>. Our use of Personal Information is governed by our Privacy Policy, which is hereby incorporated into these Terms. By using the Service, you warrant that you have read and agree to our Privacy Policy. For purposes of these Terms, “Personal Information” means information that can or potentially can be used on its own or with other information to de-anonymize data or to identify, contact, or locate a single person.</p>

		<p>2.2 <span class="terms-subtitle">User Content</span>. You may submit photographs, graphics, artwork, and other works of authorship (collectively referred to as “User Content”) to Trepic. You own all rights, title and interests in and to all User Content you provide. User Content is non-confidential and is the property of the originating User; however, by  submitting User Content to Trepic, you agree to the following:</p>

		<ul class="terms-list">
			<li><p>(a) You grant Trepic a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sub-licensable and transferable license to use, modify, reproduce, distribute, prepare derivative works of, display, publish, perform, and otherwise fully exploit (hereinafter “use”) your User Content in connection with the Service and any business of Trepic and its successors and assigns. You understand that Trepic has the right to reformat, excerpt, or translate your User Content or any portion thereof.</p></li>

			<li><p>(b) You represent and warrant that you own or otherwise control all rights necessary to publish your User Content and that use of such User Content by Trepic (including without limitation, publishing User Content on the Site) will not infringe or violate the rights of any third party.</p></li>
		</ul>

		<p>If Trepic publishes your User Content, Trepic may also publish information about you and provide a link to your website (if any), unless you ask to remain anonymous. Trepic will consider requests to remove User Content on a case-by-case basis upon request by the originating User.</p>

		<p>2.3 <span class="terms-subtitle">Personal Profile</span>. When you create an account with Trepic, you may choose to create a personal profile through which you provide information about your background and more. Personal profiles are available for other Users to view and are non-confidential and non-proprietary. You are not required to create a personal profile to use the Service, and you may alter or remove your personal profile at any time.</p>

		<h3>3. TREPIC CODE OF CONDUCT</h3>

		<p>3.1 <span class="terms-subtitle">General</span>. You promise not to use the Service for any purpose that is prohibited by law, by these Terms, or by any other terms of use that Trepic has or will put in effect. You alone are responsible for all of your activity in connection with the Service.</p>

		<p>3.2 <span class="terms-subtitle">Use of Infrastructure</span>. You may not: (i) take any action that imposes or may impose an unreasonable or disproportionately large load on the infrastructure of Trepic or its third party providers (as determined by Trepic in its sole discretion); (ii) interfere or attempt to interfere with the proper working of the Site or Service or any activities conducted thereon; (iii) bypass any measures Trepic may use to prevent or restrict access to the Service (or other accounts, computer systems or networks connected to the Service); (iv) run Maillist, Listserv, any form of auto-responder or “spam” on the Service; or (v) use manual or automated software, devices, or other processes to “crawl” or scrape date from the Service.</p>

		<p>3.3 <span class="terms-subtitle">Other restrictions</span>. You may not (directly or indirectly): (i) decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the limited extent applicable laws specifically prohibit such restriction, (ii) modify, translate, or otherwise create derivative works of any part of the Service, or (iii) copy, rent, lease, distribute, or otherwise transfer any or all of the rights that you receive hereunder.</p>

		<h3>4. EXTERNAL RESOURCES; THIRD PARTIES</h3>

		<p>4.1 <span class="terms-subtitle">External Resources</span>. The Service may provide links to other websites or resources on the Internet. These other websites or resources are not under Trepic’s control, and Trepic is not responsible for the content, functions, accuracy, legality, appropriateness or any other aspect of such website or resources, or for any damage or loss caused or alleged to be caused by your use of or reliance on any information, goods or services available through any such website or resource. When you access a third party website or resource, you do so at your own risk. The inclusion of a link to any website or resource does not imply endorsement by or affiliation with Trepic. Trepic reserves the right to disable or remove any link for any reason or for no reason at all.

		<p>4.2 <span class="terms-subtitle">Third-Party Disputes</span>. The Service may introduce you to or allow you to enter into contracts and other agreements with third parties. TREPIC IS NOT RESPONSIBLE FOR THE ACTIONS OF THIRD PARTIES. By using the Service, you agree to release Trepic, its directors, officers, employees, and agents from any claims and damages, known and unknown, arising out of or in any way connected with any claim you have against any such third parties. If you are a California resident, you waive California Civil Code § 1542, which says that a general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which if known by him or her must have materially affected his or her settlement with the debtor.</p>

		<h3>5. WARRANTIES, DISCLAIMERS, AND LIABILITY</h3>

		<p>5.1 <span class="terms-subtitle">General Disclaimers</span>. Trepic has no fiduciary duty to you. You acknowledge that Trepic has limited control over who gains access to the Service; what Content you access via the Service; what effects Content may have on you; how you may interpret or use Content; or what actions you may take as a result of having been exposed to Content. You alone are responsible for your use of the Service and the consequences thereof. For example, the Services are designed to procure experiences that closely match your search parameters. However, you are solely responsible for making the final determination about what travel and activities that you book, and you agree that Trepic will not be liable for any displeasure, nonenjoyment or other general dissatisfaction with respect to such travel and/or activities.</p>

		<p>Trepic provides the Service (including, without limitation, the Site and Content) “as is” without warranty of any kind, express or implied. To the fullest extent permitted by law, Trepic hereby disclaims all warranties, express, implied, statutory or otherwise, whether oral or written, including, but not limited to, the implied warranties of title, non-infringement, merchantability and fitness for a particular purpose, and any warranties implied by any course of performance or usage of trade, all of which are expressly disclaimed. Without limiting the foregoing, Trepic and its directors, employees, agents, suppliers, partners and content providers do not warrant that: (a) the Site will be secure or available at any particular time or location; (b) any defects or errors can or will be corrected; (c) any Content or software available at or through the service is free of viruses or other harmful components; or (d) the results of using the Service will meet your requirements. Your use of the Site and Service is solely at your own risk.</p>

		<p>5.2 <span class="terms-subtitle">Notice of Risk</span>. You acknowledge that there are risks, including but not limited to the risk of physical harm, associated with traveling, and you assume all such risks. You acknowledge that Trepic is not liable for any harm resulting from (i) your use of Content, (ii) third-party conduct (including illegal activity), (iii) travel arrangements made through the Service, or (iv) any other action related to your use of the Service.  In addition, the carriers, hotels and other suppliers providing travel or other services through the Services are independent contractors and not agents or employees of Trepic and Trepic is not responsible for the acts, omissions, representations, warranties, breaches or negligence of any such suppliers, or for any personal injuries, death, property damage, or other damages ore expenses arising therefrom.  Any disputes arising between you and any such supplier shall be solely as between you and such supplier.</p>

		<p>5.3 <span class="terms-subtitle">Limitation of liability</span>. If, notwithstanding the other provisions of these Terms, Trepic should have any liability to you or any third party for any loss, harm or damage, including without limitation, any direct, indirect, punitive, incidental, special or consequential damages, you and Trepic agree that such liability will under no circumstances exceed $50.00. You and Trepic agree that the foregoing limitation of liability is an agreed allocation of risk between you and Trepic. You acknowledge that absent your agreement to this limitation of liability, Trepic would not provide the Service to you.</p>

		<p>5.4 <span class="terms-subtitle">Indemnification</span>. You agree to defend, indemnify, and hold harmless Trepic, its affiliates, employees, officers, agents, managers, members and successors and assigns from all damages and liability including, without limitation, reasonable attorneys’ fees, incurred as a result of (i) your breach of these Terms, (ii) your unauthorized or unlawful use of the Service, or (iii) the unauthorized or unlawful use of the Service by any person using your account.</p>

		<h3>6. MISCELLANEOUS PROVISIONS</h3>

		<p>6.1 <span class="terms-subtitle">Notice</span>. Trepic may give notice required or permitted to be given hereunder by publishing such notice on the Site. Any such notice will be effective immediately when published.</p>

		<p>6.2 <span class="terms-subtitle">Entire Agreement; Amendment</span>. These Terms and any documents incorporated herein constitute the entire agreement between you and Trepic with respect to the subject matter hereof. Trepic reserves the right to amend the provisions of these Terms at any time, provided that Trepic will notify you of any such amendment by email or by notice posted on the Site.</p>

		<p>6.3 <span class="terms-subtitle">Governing Law; Venue</span>. These Terms will be governed and construed under the laws of the State of California, without regard to its conflict of laws provisions or the United Nations Convention on the International Sale of Goods. The parties irrevocably consent to the exclusive jurisdiction of the state and federal courts located in the Santa Clara County, California. All disputes and/or legal proceedings related to these Terms will be maintained in courts located in Santa Clara County, California.</p>

		<p>6.4 <span class="terms-subtitle">Waiver/Severability</span>. The waiver or failure of Trepic to exercise any right in any respect provided for herein will not be deemed a waiver of any further right hereunder. If any provision of these Terms is determined to be invalid or unenforceable under any applicable statute or rule of law, it is to that extent to be deemed omitted, and the balance of these Terms will remain enforceable.</p>

		<p>6.5 <span class="terms-subtitle">Assignment</span>. Trepic may assign these Terms, in whole or in part, in its sole discretion. You may not assign your rights under these Terms without Trepic’s prior written permission. Any attempt to assign your rights under these Terms without Trepic’s permission will be void.</p>

		<p>6.6 <span class="terms-subtitle">Headings</span>. The headings of articles and sections contained in these Terms are for reference purposes only and will not affect in any way the meaning or interpretation of this Agreement.</p>

		<p>6.7 <span class="terms-subtitle">Injunctive Relief</span>. You acknowledge and agree that the breach by you of any covenant or obligation under these Terms will cause Trepic substantial, immediate and irreparable harm, or that the extent of damages caused by any violation of these Terms would be impossible to ascertain, and that there is no adequate remedy at law in the event of such breach. Accordingly, you agree that Trepic shall be entitled to injunctive relief, without prejudice to any other right Trepic may have in law or equity, by bringing an appropriate action for such remedy in any court of competent jurisdiction which Trepic, in its sole discretion, deems appropriate.</p>
	</div>
	<div class="supplementary-mobile-footer">
		<div class="spacer"></div>
		<div class="mobile-footer-menu">
			<span class="major-footer-links-small"><%= link_to "Home", root_path %></span>
			<span class="major-footer-links-small"><%= link_to "About", about_path %></span>
			<span class="major-footer-links-small"><%= link_to "Support", customer_support_path %></span>
			<span class="major-footer-links-small"><%= link_to "Work With Us", work_with_us_path %></span>
		</div>

		<div class="social-media-icons">
			<a href="https://www.pinterest.com/trepicepictrips/"><img class="social-icon" src="img/social/pinterest-icon.png"></a>
			<a href="https://www.facebook.com/trepic.makeyourtripepic/"><img class="social-icon" src="img/social/facebook-icon.png"></a>
			<a href="https://twitter.com/trepicgoepic"><img class="social-icon" src="img/social/instagram-icon.png"></a>
			<a href="https://twitter.com/trepicepictrips"><img class="social-icon" src="img/social/twitter-icon.png"></a>
		</div>
		<div class="end-text-no-image">
			<span class="copyright-text">© 2014 : 2015 COPYRIGHT TREPIC, INC.</span>
			<span class="legal-page-link" style="color:#4c4c4c"><%= link_to "LEGAL PAGE", legal_path %></span>
		</div>
	</div>
</div>
