	<div class="end-text">
		<span class="copyright-text">© 2014 : 2015 COPYRIGHT TREPIC, INC.</span>
		<span class="legal-page-link" style="color:white"><%= link_to "LEGAL PAGE", legal_path %></span>
		<span class="major-footer-links"><%= link_to "Home", root_path %></span>
		<span class="major-footer-links"><%= link_to "About", about_path %></span>
		<span class="major-footer-links"><%= link_to "Support", customer_support_path %></span>
		<span class="major-footer-links"><%= link_to "Work With Us", work_with_us_path %></span>
	</div>
